.table_resume{
    text-align: center;
}
.small-text-SC{
    font-size: 0.8em !important;
}
.tagConfDiv{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 5px !important;

}
.tagConfDiv > span{
    white-space: nowrap;
}
.tagConf{
    
}